<% breadcrumb :signup, @signup %>

<%= render 'committees/header' %>

<h2>Signup confirmation</h2>
<p class="text-warning">Your spot is not secured until you click &ldquo;Confirm signup&rdquo; at the bottom of this page.</p>

<%= form_for @signup, :html => { :class => 'form-horizontal', :role => 'form' } do |f| %>
  <div class="form-group">
    <label class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <%= tag :input, :class => 'form-control', :type => 'text', :placeholder => current_user.full_name, :disabled => true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :shift_id, :class => 'control-label col-sm-2' %>
    <div class="col-sm-10">
      <%= f.hidden_field :shift_id, :value => @shift.id %>
      <div class="well">
        <h4><%= @shift.committee.name %> #<%= @shift.position %></h4>
        <%= @shift.friendly_start_time %>&ndash;<%= @shift.friendly_end_time %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <p>By clicking &ldquo;Confirm signup&rdquo;, I (<%= current_user.full_name %>) understand that:</p>
      <ul>
        <li>It is my responsibility to make sure the shifts that I signed up don&rsquo;t conflict with each other.</li>
        <li>I am obligated to follow all instructions on the committee page and in all follow-up emails from the committee chair and/or Mrs. Mooney, attend all training sessions (if any), and show up on time on Community Day.</li>
        <li>If I cancel a signup, my spot may be immediately taken by others.</li>
      </ul>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "Confirm signup", :class => 'btn btn-primary' %>
      <%= link_to "Cancel", @shift.committee, :class => 'btn btn-link' %>
    </div>
  </div>
<% end %>
