<%= form_for @shift, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @shift.errors.any? %>
    <div id="error_explanation" class="alert alert-block alert-error">
      <strong><%= pluralize(@shift.errors.count, "error") %> prohibited this shift from being saved:</strong>
      <ul>
      <% @shift.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :committee_id, :class => 'control-label' %>
    <div class="controls">
        <%= f.hidden_field :committee_id, :value => @committee.id %>
        <h2><%= @committee.name %></h2>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :position, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :position, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :capacity, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :capacity, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :start_time, :class => 'control-label' %>
    <div class="controls">
      <%= f.time_select :start_time,
                        :combined => true,
                        :minute_interval => 30,
                        :time_separator => "",
                        :start_hour => 8,
                        :start_minute => 00,
                        :end_hour => 18,
                        :end_minute => 00 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :end_time, :class => 'control-label' %>
    <div class="controls">
      <%= f.time_select :end_time,
                        :combined => true,
                        :minute_interval => 30,
                        :time_separator => "",
                        :start_hour => 8,
                        :start_minute => 00,
                        :end_hour => 18,
                        :end_minute => 00 %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                shifts_path, :class => 'btn' %>
  </div>
<% end %>
