<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
  <li><%= link_to "Committees", committees_path %> <span class="divider">/</span></li>
  <li><%= link_to @shift.committee.name, @shift.committee %> <span class="divider">/</span></li>
  <li class="active">Shift #<%= @shift.position %></li>
</ul>

<div class="hero-unit">
  <h1><%= @shift.committee.name %></h1>
  <p>@ <%= @shift.committee.location %></p>
  <p>
    From: <%= @shift.start_time %><br />
    To: <%= @shift.end_time %><br />
    Capacity: <%= @shift.capacity %>
  </p>
  <p>
    <%= link_to "Edit", edit_shift_path, { :class => "btn btn-large" } %>
    <%= link_to "Delete", {}, { :confirm => "Are you sure?", 
                                :method => :delete, 
                                :class => "btn btn-danger btn-large" } %>
  </p>
</div>

<div class="row">

  <div class="span7">
    <div class="page-header">
      <h2>Students <small><%= @shift.signups.count %></small></h2>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        <% @shift.signups.each do |signup| %>
          <tr>
            <td><%= signup.user.full_name %></td>
            <td><%= signup.user.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
