<div id="committees" class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Committee</th>
        <th>Location</th>
        <th>Description</th>
        <th>Availability</th>
      </tr>
    </thead>
    <tbody>
      <% @committees.each do |committee| %>
        <%= content_tag :tr, class: [bootstrap_row_color_class_by_spots(committee.spots, committee.capacity)] do %>
          <td><strong><%= link_to committee.name, committee_path(committee) %></strong></td>
          <td><%= committee.location %></td>
          <td><%= committee.description %></td>
          <td><span class="badge"><%= committee.spots %></span> / <%= committee.capacity %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
