<% content_for :scripts do %>
  <%= javascript_include_tag "committees" %>
<% end %>
<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
  <li class="active">Committees</li>
</ul>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Committee</th>
      <th>Location</th>
      <th>Description</th>
      <th>Availability</th>
    </tr>
  </thead>
  <tbody>
    <% @committees.each do |committee| %>
      <tr>
        <td><strong><%= link_to committee.name, committee_path(committee) %></strong></td>
        <td><%= committee.location %></td>
        <td><%= committee.description %></td>
        <td><%= spots_badge committee.total_available_spots %> / <%= committee.total_capacity %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%#= link_to t('.new', :default => t("helpers.links.new")),
            new_committee_path,
            :class => 'btn btn-primary' %>
