<% breadcrumb :committee, @committee %>

<%= render 'header' %>

<div class="row">

  <div class="col-sm-4 col-sm-push-8">
    <div class="panel panel-info">
      <div class="panel-heading">Description</div>
      <div class="panel-body">
        <%= simple_format( @committee.description ) %>
      </div>
    </div>
  </div>

  <div class="col-sm-8 col-sm-pull-4">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Start</th>
          <th>End</th>
          <th>Spots</th>
          <th>Sign up?</th>
        </tr>
      </thead>
      <tbody>
        <% @committee.shifts.each do |shift| %>
          <tr>
            <td><strong><%= shift.position %></strong></td>
            <td><%= shift.friendly_start_time %></td>
            <td><%= shift.friendly_end_time %></td>
            <td>
              <span class="badge"><%= shift.spots %></span> / <%= shift.capacity %>
            </td>
            <td>
              <%= sign_up_button(shift, current_user) %>
            </td>
          </tr>
          <tr>
            <td></td>
            <td colspan="4">
              <ol>
                <% shift.signups.each do |signup| %>
                  <li>
                    <%= signup.user.full_name %>
                    <% if signup.user == current_user %>
                      <span class="label label-info">me</span>
                    <% end %>
                  </li>
                <% end %>
              </ol>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
