<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %> <span class="divider">/</span></li>
  <li><%= link_to "Committees", committees_path %> <span class="divider">/</span></li>
  <li class="active"><%= @committee.name %></li>
</ul>

<div class="page-header">
  <h1><%= @committee.name %> <small>@ <%= @committee.location %></small></h1>
</div>

<div class="row">
  <div class="span8">
    <h2>Shifts</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Start</th>
          <th>End</th>
          <th>Spots</th>
          <th>Sign up?</th>
        </tr>
      </thead>
      <tbody>
        <% @shifts.each do |shift| %>
          <tr>
            <td><strong><%= shift.position %></strong></td>
            <td><%= shift.start_time_human %></td>
            <td><%= shift.end_time_human %></td>
            <td>
              <%= spots_badge shift.capacity - shift.signups.count %></span>
              /
              <%= shift.capacity %>
            </td>
            <td>
              <% signup_entry = current_user.signed_up?(shift) %>
              <% if signup_entry.blank? %>
                <% if shift.has_spots? %>
                  <% if current_user.can_signup? %>
                    <%= link_to "Sign up", { :controller => "signups",
                                             :action => "new",
                                             :shift_id => shift.id },
                                           { :class => "signup btn btn-mini btn-primary" } %>
                  <% else %>
                    <%= link_to "N/A", "javascript:void(0)",
                                           { :class => "signup disabled btn btn-mini btn-primary" } %>
                  <% end %>
                <% else %>
                  <%= link_to "Full", "javascript:void(0)",
                                      { :class => "signup disabled btn btn-mini btn-primary" } %>
                <% end %>
              <% else %>
                <% if current_user.can_cancel? %>
                  <%= link_to "Cancel", signup_entry, 
                                        { :confirm => "Are you sure?

If you change your mind after you cancel, 
you spot might be taken by others.", 
                                          :method => :delete, 
                                          :class => "cancel btn btn-mini btn-danger" } %>
                <% else %>
                  <%= link_to "N/A", "javascript:void(0)", 
                                     { :class => "cancel disabled btn btn-mini btn-danger" } %>
                <% end %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td></td>
            <td colspan="4">
              <ol>
                <% shift.signups.each do |signup| %>
                  <li>
                    <%= signup.user.full_name %>
                    <% if signup.user == current_user %>
                      <span class="label">you</span>
                    <% end %>
                  </li>
                <% end %>
              </ol>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="span4">
    <h2>Details</h2>
    <h3>Description</h3>
    <%= simple_format( @committee.description ) %>
  </div>
</div>
